@import 'reset.css';
@import 'variables.css';

/* Components */
@import 'screens/login.css';

/* Screens */
@import 'components/status-bar.css';
@import 'components/nav-bar.css';

@font-face {
  src: url('../fonts/Jua-Regular.ttf');
  font-family: 'Jua';
}

*,
body {
  font-family: 'Jua';
  word-spacing: -5px;
}
